body{
    background-image: url(../Midia/bcd-5.jpg); /*colocando foto de background*/
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

/*Estilos da Página1.html*/
#menu li{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 15px; /*espaçamento interno*/
}

#menu li a{
    text-decoration: none; /*tirando hiperlink dos botões*/
    color: black;
    justify-content: center;
    font-family: sans-serif; /*tipo de fonte*/
    font-size: 15px; /*tamanho da fonte*/
}

#menu li a:hover{ /*animação quando o mouse passa por cima de determinados lugares*/
    color: rgb(255, 255, 255);
}

.center1{
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold; /*fonte em negrito*/
    margin-bottom: 0%;
}

.center2{
    text-align: center;
    font-family: sans-serif; /*tipo de fonte*/
    font-size: 15px; /*tamanho da fonte*/
}

.box1{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.space{
    padding: 30px; /*espaçamento interno*/
}

.soyjo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 12%; /*curvinha na borda*/
    box-shadow: 7px 6px 7px #000000d5, 7px 6px 7px #0631be00; /*degrade*/
}

.soyjo:hover{
    box-shadow: 7px 6px 7px #ffffff, 7px 6px 7px #0631be00; /*troca de cor no degrade*/
}

.dirReserv{
    margin: 11px;
}

.imgRedes{
    width: 50px;/*largura*/
    height: 50px; /*altura*/
    padding: 20px; /*espaçamento interno*/
}

.center2:hover{
    color: rgb(255, 255, 255);
}

/*Estilos da Página2.html*/


.formBox{
    background-color: #0500006c; /*cor de fundo*/
    text-align: center;
    align-items: center;
    height: 280px;/*altura*/
    width: 285px; /*largura*/
    padding: 45px; /*espaçamento interno*/
    border-radius: 12%; /*curvinha na borda*/
    font-family: sans-serif; /*tipo de fonte*/
    font-size: 20px;  /*tamanho da fonte*/
    box-shadow: 3px 2px 2px #000, 3px 2px 2px #0143ff00;
}

.formBox:hover{
    box-shadow: 3px 3px 3px #000800b0, 3px 3px 3px #0143ff00;
}



.btnLogin{
    position: relative; /* juntar isso com label sempre em absolute*/
    margin-bottom: 15px;
}

input{
    width: 100%; /*vai ocupar 100% do espaço da linha na caixa*/
    height: 30px; /*altura do botão*/
    background: transparent; /*tirando background do input*/
    border: none; /*tirando bordas do input*/
    outline: none; /*tirando a linha q fica embaixo quando clica*/
    border-bottom: 2px solid #fc5000; /*colocando uma borda inferior e adicionando cor*/
    transition: .20s ease-in-out; /*tempo pra gerar a ação*/
}

input:focus{ /*quando o botão for clicado gera a ação*/
    border-bottom: 2px solid #27c034;
    box-shadow: 0 2px 0 0 #27c034;
}

label{
    position: absolute; /* se n colocado certo aparece no lado superior esquerdo da pagina*/
    top: 0;
    left: 0;
    color: #020202;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(11px); /*descendo o texto, sempre verificar pra ficar certo na linha*/
    transition: .20s ease-in-out;
}

input:focus + label{  /*quando o botão for clicado gera ação conjunta*/
    transform: translateY(-15px) scale(.8); /*subindo o texto e diminuindo a escala dele*/
    color: #fff;
    font-weight: bold;
}

input:not(:placeholder-shown) + label{ /*metódo pra subir o texto quando algo or digitado*/
    transform: translateY(-15px) scale(.8);
    color: #fff; /*sempre deixar invisivel*/
}

input:not(:placeholder-shown){
    border-bottom: 2px solid #17b617;
    box-shadow: 0 2px 0 0 #17b617;
}

input::placeholder{
    color: transparent;
}

button{
    padding: 12px 18px;
    margin: 10px;
    border: none;
    border-radius: 12%;
    text-align: center;
    background-color: #fefeff1c;
    align-items: center;
    box-shadow: 3px 2px 2px #fc5000, 3px 2px 2px #0143ff00;
}

button:focus{
    background-color: #00fc1594;
    transition: .45s;
}

button:hover{ /*animação do botao*/
    box-shadow: 3px 2px 2px #000, 3px 2px 2px #0143ff00;
    background-color: #27c034;
    transition: .75s;
    
}